/* 
------------------
DASHBOARD CSS FILE 
------------------

GENERAL:
    1 - Lateral navbar
    2 - Containers, headings and colors
    3 - Card setup

HOME:
    4 - Bio card
    5 - Resume card

EVALUATION:
    6 - Full card

STATS:
    7 - Stat calendar card
    8 - Select card
    9 - Stat counter card

CRASH:
    10 - Crash calendar card
    11 - Crash table card

*/

/* 
// ------------------
// 1 - LATERAL NAVBAR
// ------------------
*/

.lat-nav {
    background-color: #eee;
}

@media (min-width: 768px) {
    .lat-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 70px;
        margin-top: 0;
        margin-bottom: 0;
        overflow-y: auto;
    }

    .lat-nav a {
        display: block;
    }
}

.lat-nav a {
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    border-bottom: solid 1px #fff;
}

@media (max-width: 767px) {
    .lat-nav a {
        display: inline-block;
        padding: 4.5%;
    }
    
    .lat-nav > a {
        display: block;
    }
    .icon-bar {
        text-align: center;
    }
}

.lat-nav a:hover {
    text-decoration: none;
    color: #666;
}

.lat-nav > a {
    background-color: #2598C4;
    color: #eee;
    font-size: 40px;
}

.lat-nav > a:hover {
    color: #000;
}

.nav-avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.lat-nav .active {
    color: #495057;
    background-color: #fff;
}

/* 
// ---------------------------
// 2 - CONTAINERS AND HEADINGS
// ---------------------------
*/

@media (min-width: 768px) {
    .main-container {
        margin-left: 70px;
        padding: 50px 70px;
    }
}

@media (max-width: 767px) {
    .main-container {
        padding: 30px 20px;
    }
    .col-sm-4 {
        padding-bottom: 20px;
    }
}

.row-heading {
    padding-bottom: 25px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.subtitle {
    color: #777;
}

#preview-textfield {
    text-align: center;
}

@media (min-width: 768px) {
    .secondary-container {
        box-sizing: border-box;
        margin-left: 70px;
        padding: 0px 70px;
    }
    .full-height {
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    .secondary-container {
        padding: 30px 20px;
    }
}

/* 
// ---------------------------
// 3 - CARD SETUP
// ---------------------------
*/

.card-title {
    padding: 20px;
    position: relative;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
}

.card-title:before {
    position: absolute;
    top: 45%;
    display: block;
    content: "";
    width: calc(100% - 40px);
    height: 2px;
    background-color: #eee;
}

.card-title h3 {
    padding: 0 5px;
    font-size: 18px;
    position: relative;
    display: inline-block;
    font-weight: 300;
    background-color: #fff;
    z-index: 2;
}

.green {
    color: #1BC98E;
}

.red {
    color: #E64759;
}

/* 
// ---------------------------
// 4 - BIO CARD
// ---------------------------
*/

.cover-img {
    height: 150px;
    background-size: cover;
    background-image: url("../img/uploads/cover-default.png");
    background-position: center;
}

.card-about {
    text-align: center;
    padding: 15px;
    font-weight: 200;
    height: 250px;
}

.card-avatar {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card-name {
    margin: 15px auto;
    font-weight: 600;
}

/* 
// ---------------------------
// 5 - RESUME CARD
// ---------------------------
*/

.resume-card {
    min-height: 402px;
}

.resume-data .col-sm-4 {
    padding: 10px 40px;
    text-align: center;
}

.resume-data .unit {
    display: inline-block;
    padding: .4em;
    font-size: 12px;
    vertical-align: middle;
}

.resume-data .caption {
    font-size: 85%;
    letter-spacing: .15em;
    color: #78838e;
    text-transform: uppercase;
}

.resume-gauge-container {
    margin-top: 50px;
}

.reset {
    text-align: center;
}

.resume-gauge-container .col-sm-2 {
    padding-left: 5px;
    padding-right: 5px;
    flex-grow: 1;
}

.col-sm-2 canvas {
    width: 100%;
    height: auto;
}

.resume-gauge-caption {
    font-size: 14px;
    color: #78838e;
}

@media (max-width: 767px) {
    .resume-gauge-caption {
        font-size: 16px;
        color: #78838e;
    }
    .resume-gauge-container .col-sm-2 {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

/* 
// ---------------------------
// 6 - FULL CARD
// ---------------------------
*/
@media (min-width: 768px) {
    .card-full {
        height: calc(100vh - 190px);
    }
}
@media (max-width: 767px) {
    .mt-4 {
        display: none;
    }
}

.fp-section.fp-table, .fp-slide.fp-table {
    display: block;
    table-layout: auto;
    width: auto;
}

.fp-tableCell {
    display: block;
    width: 100%;
    height: auto;
}

.chart-container {
    text-align: center;
    margin: 0 auto;
    height: 250px; 
    width: 300px;
}

.eval-gauge-caption {
    font-size: 54px;
    text-align: center;
}

/* 
// ---------------------------
// 7 - STAT CALENDAR CARD
// ---------------------------
*/

.stat-calendar-card {
    min-height: 300px;
}

.stat-calendar-container {
    overflow: hidden;
    padding: 0px 25px;
    font-size: 0.7rem;
}

.stat-calendar-container .bootstrap-datetimepicker-widget table td.day {
    height: 30px;
    width: 30px;
}

.card-select {
    margin-top: 20px;
}

.select-container {
    text-align: center;
}

.select-trip-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
}

/* 
// ---------------------------
// 9 - STAT COUNTER CARD
// ---------------------------
*/

.counter-card {
    min-height: 456px;
}

.counter-data .col-sm-4 {
    padding: 10px 40px;
    text-align: center;
}

.counter-data .unit {
    display: inline-block;
    padding: .4em;
    font-size: 12px;
    vertical-align: middle;
}

.counter-data .caption {
    font-size: 85%;
    letter-spacing: .15em;
    color: #78838e;
    text-transform: uppercase;
}

.counter-data h3 {
    font-size: 4.5rem;
}

.white-space {
    height: 40px;
}


/* 
// ---------------------------
// 10 - CRASH CALENDAR CARD
// ---------------------------
*/

.calendar-card {
    min-height: 402px;
}

.calendar-container {
    overflow: hidden;
    padding: 25px;
    font-size: 0.9rem;
}

.calendar-container .bootstrap-datetimepicker-widget table td.day {
    height: 40px;
}

.bootstrap-datetimepicker-widget table td.notify {
    position: relative;
}

.bootstrap-datetimepicker-widget table td.notify:before {
    content: '';
    display: inline-block;
    border: solid transparent;
    border-width: 7px 0 0 7px;
    border-top-color: #b73333;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 4px;
    right: 4px;
}

.crashes-card {
    text-align: center;
    min-height: 419px;
}

/* 
// ---------------------------
// 11 - CRASH TABLE CARD
// ---------------------------
*/

.crash-table {
    width: 90%;
    margin: 1rem auto;
}

@media (max-width: 767px) {
    .crash-table {
        font-size: 14px;
    }
}

th {
    text-align: center;
}

.pagination-container {
    padding: 20px;
}

.pagination {
    float: right;
    margin-bottom: 0px;
}