/*
------------------
DASHBOARD CSS FILE 
------------------

GENERAL:
    1 - Lateral navbar
    2 - Containers, headings and colors
    3 - Card setup

HOME:
    4 - Bio card
    5 - Resume card

EVALUATION:
    6 - Full card

STATS:
    7 - Stat calendar card
    8 - Select card
    9 - Stat counter card

CRASH:
    10 - Crash calendar card
    11 - Crash table card

*/

/* 
// ---------------------------
// 2 - CONTAINERS AND HEADINGS
// ---------------------------
*/

.navbar-collapse{
	margin-top: 10px;
}

.header {
	background-color: rgb(41, 43, 44);
	padding: 10px 10px;
}

.logo {
	font-family: 'Work Sans', sans-serif;
	background: #fff;
	padding: 12px;
	border-radius: 4px;
	color: #568EC2;
}

.main-container {
	height: 100vh;
	padding: 0px 0px;
}

.row-container {
	height: calc(100% - 170px);
	margin: 50px 50px;
}

@media (max-width: 767px) {
	.row-container {
		height: 100%;
		margin: 0px 0px;
	}
	
    .col-sm-4 {
		height: 50%;
        padding: 20px;
    }
	
	.col-sm-8 {
		height: 50%;
		padding: 20px;
	}
	
	.row-container {
		margin: 10px 0px;
	}
}

.row-heading {
    padding-bottom: 25px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.subtitle {
    color: #777;
}

#preview-textfield {
    text-align: center;
}

@media (min-width: 768px) {
    .secondary-container {
        box-sizing: border-box;
        margin-left: 70px;
        padding: 0px 70px;
    }
    .full-height {
        min-height: 100vh;
    }
}

@media (max-width: 767px) {
    .secondary-container {
        padding: 30px 20px;
    }
}

/* 
// ---------------------------
// 3 - CARD SETUP
// ---------------------------
*/

.card-title {
    padding: 20px;
    position: relative;
    line-height: 20px;
    text-align: center;
    margin-bottom: 0;
}

.card-title:before {
    position: absolute;
    top: 45%;
    display: block;
    content: "";
    width: calc(100% - 40px);
    height: 2px;
    background-color: #eee;
}

.card-title h3 {
    padding: 0 5px;
    font-size: 18px;
    position: relative;
    display: inline-block;
    font-weight: 300;
    background-color: #fff;
    z-index: 2;
}

.green {
    color: #1BC98E;
}

.red {
    color: #E64759;
}

/* 
// ---------------------------
// 4 - BIO CARD
// ---------------------------
*/

.profile {
	height: 100%;
}

@media(max-width: 767px){
	.col-sm-4 {
		width: 100%;
	}
}

.cover-img {
    height: 40%;
    background-size: cover;
    background-image: url("../img/uploads/cover-default.png");
    background-position: center;
}

.card-about {
    text-align: center;
    padding: 15px;
    font-weight: 200;
    height: 60%;
}

.card-avatar {
    margin-top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.card-name {
    margin: 15px auto;
    font-weight: 600;
}

@media(max-width: 767px){
	.card-text{
		font-size: 10px;
	}
	
	.card-name {
		font-size: 12px;
	}
}

/* 
// ---------------------------
// 5 - MAP CARD
// ---------------------------
*/

.map-card {
	height: 100%;
}

.modal-dialog {
	margin: 0px 0px;
}

.modal-container {
	height: calc(100vh - 60px);
	width: calc(100vw - 60px);
	margin: 30px 30px;
}

.modal-header{
	height: calc(15% - 60px);
	text-align : center;
}

.mn-name{
	width : 100%;
	justify-content : center;
}

.modal-body{
	height: calc(85% - 60px);
	width: 100%;
	margin : 0;
}

.modal-dialog{
	max-width: 100%;
}

.texture-container {
	display: none;
}

.canvas {
	display : flex;
	justify-content : center;
	align-items : center;
	width : 100%;
	height : 100%;
	margin-bottom : 30px;
}

.titles {
	width : 100%;
	border-top-left-radius : 25px;
	border-top-right-radius : 25px;
	border-bottom-left-radius : 0;
	border-bottom-right-radius : 0;
	border : 2px solid;
	border-bottom : 0;
}

#canvas-river-ov, #canvas-river-sec, #threshold, #alert, #chart-history{
	border : 2px solid;
	border-color : black;
	border-bottom-left-radius : 4px;
	border-bottom-right-radius : 4px;
}

#canvas-river-ov {
	position : relative;
}

#threshold{
	display : flex;
	justify-content : center;
	align-items : center;
}

.th {
	font-size : 16px;
	text-align : center;
	vertical-align : middle;
	line-height : 40px;
	height : 40px;
	margin-top : 10px;
	margin-bottom : 10px;
}

.right-section {
	overflow : scroll;
}

.chart-container {
    text-align: center;
    margin: 0 auto;
}

#sliderSlider .slider-selection {
	background: #BABABA;
}